<li>
  <p class="commentUser">User: {{comment.commentUser}}</p>
  <br>
  <p class="commentMessage">Said: {{comment.commentMessage}}</p>

  <button class="deleteComment" {{action 'deleteComment' comment}}>Remove</button>
</li>
