<li>
  <hr>
  <p class="commentUser">User: {{comment.commentUser}}</p>
  <br>
  <p class="commentMessage">Says: {{comment.commentMessage}}</p>

  <button class="deleteComment" {{action 'deleteComment' comment}}>Remove</button>
  <hr>
</li>
