h1, h2, h3, h4, h5, h6, p {
  color: 696969;
  font-family:sans-serif;
  font-weight: lighter;
}

h1 {
  font-weight: bolder;
}

.user {
  font-size: 16px;
  font-style: italic;
}
p {
  margin: 0;
  width: 500px;
}
.title {
  font-size: 22px;
  font-weight: bolder;
}

img {
  width: 500px;
  border radius: 50%;
}


.fullPost {
  font-size: 30px;
  background-color: #ff9999;
  color: white;
}

.tldr {
  font-size: 11px;
}

.edit {
  background-color: #ff99cc;
  color: white;
}

.delete {
  background-color: #ff6699;
  color: white;
}

.tile {
  border-color: pink;
  border-width: thin;
}
