
<h2>About the message board.</h2>

<h4>This message board was created to talk about the beautiful world of Exotic Shorthair cats!</h4>
<p>Remember that this is a diversity-friendly site. And no discrimination towards any cat breed will be accepted!</p>
