<h2>Welcome!</h2>

<h3>This is a message board dedicated to discussing the beautiful Exotic Shorthair cat breed!</h3>

<ul>
  {{#each model.posts as |post|}}

    {{post-tile post=post add="add" edit="edit" deletePost="deletePost"}}

    <ul>
    <hr>
    <p class="comments">Comments:</p>
    {{#each model.comments as |comment|}}
    {{comment-tile comment=comment deleteComment="deleteComment"}}
    {{/each}}
  
    </ul>

  {{/each}}
</ul>

{{new-post save="save"}}

<p>(You must be aware of the rules before contributing to this site in any way.)</p>

{{#link-to 'rules'}}See the rules here!{{/link-to}}
