<h2>Welcome!</h2>

<h3>This is a message board dedicated to discussing the beautiful Exotic Shorthair cat breed!</h3>
<!--Why does it only display 3 of my hardcoded posts? -->
<ul>
  {{#each model as |post|}}
  <!-- this is a loop -->
    {{post-tile post=post edit="edit" deletePost="deletePost"}}
    <!-- the router is the only place that can access the model  -->
    <!-- using post=post tells the program that the post inside and outside of the component are the same -->
  {{/each}}
</ul>

{{new-post save="save"}}

<p>(You must be aware of the rules before contributing to this site in any way.)</p>
{{#link-to 'rules'}}See the rules here!{{/link-to}}
