
<h2>Message Board Rules</h2>

<h4>This message board was created to talk about the beautiful world of Exotic Shorthair cats! And although we encourage freedom of opinion, we do have some rules that need to be followed to remain a member of this site.</h4>

<ol>
  <li>Remember that this is a diversity-friendly site. And no discrimination towards any coloration or breed of cat will be accepted!</li>
  <li>Seriously, be nice to each other you guys.</li>
  <li>No photos of abuse of any kind will be tolerated.</li>
  <li>No cat-competing. All cats are beautiful in their own way, and one is not better than another.</li>
  <li>Have fun!</li>
</ol>
